/* montserrat-regular - latin */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  height: 100%;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #6c7289;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2eae2;
}
h2 {
  font-family: Fraunces;
}
.card {
  background: var(--Pure-White, #fff);
  display: flex;
  width: 600px;
  border-radius: 10px;
}
.card__image {
  border-radius: 10px 0 0 10px;
}
.card__content {
  padding: 32px;
}
.card__label {
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 5px;
}
.card__title {
  color: var(--Gunmetal, #1c232b);
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 24px;
}
.card__description {
  margin-bottom: 29px;
}
.card__prices {
  display: flex;
  gap: 19px;
  align-items: center;
  margin-bottom: 30px;
}
.card__big-price {
  color: #3d8168;
  font-size: 32px;
  line-height: 32px;
}
.card__mini-price {
  font-size: 13px;
  text-decoration: line-through;
  line-height: 23px;
}
.card__btn {
  width: 100%;
  padding: 16px 0;
  border-radius: 8px;
  background: #3d8168;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  font-weight: 700;
  color:#fff;
}
.card__btn:hover{
  background-color: #1A4032;
  color:#fff
}
